body {

    padding: 10px;
}

.container {
    width: 100%;
    background-color: coral;
    border: 2px solid black;
}

h1 {
    color: green;
    text-align: center;
}

h3 {
    color: greenyellow;
    text-align: center;
}

p {
    font-style: italic;
    color: rgb(13, 52, 85);
    text-align: justify;
}

#autor {
    text-align: right;

}

.first {
    margin: 10px;

    width: 15%;

    float: right;

}

.second {
    margin: 10px;

    width: 15%;

    float: left;
}